body {
    background-color: #fff;
}

.containerForma {
    /* Estilos para o container do formulário */
    background-color: #ccc;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.containerForma h1 {
    text-align: center;
}

H1 {
    text-align: center;
}

#botaoexcluir {
    margin-left: 10px;
}

.botoesListaForm {
    padding-top: 2px;
    padding-bottom: 20px;
}